* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top of the website styles */
.head_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  1rem;
  background-color: #ffffff;
  width: 100%;
}
.mobile-menu {
  background: none;
  border: none;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-left: -5rem;

}
/* Logo colors */
.logo-blue {
  color: #2A90D9;
}

.logo-red {
  color: #EE685F;
}

/* Styles for the mobile menu */

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: left 0.3s ease-in-out;
}
.mobile-nav.open {
  left: 0; 
}
.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-menu {
  background: none;
  border: none;
}

/* Styles for the navigation links */
.mobile-nav-links {
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mobile-nav-links a {
  text-decoration: none;
  color: #1A1A1A;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.currency-language {
  display: flex;
  gap: 2rem;
  align-items: center;
  
}

.social-icons {
  display: flex;
  margin-top: 12rem;
  gap: 1rem;
}

/* Menu adjustments for small screens */

@media (max-width: 768px) {
  .head_mobile {
    padding: 1rem;
    position: relative;
    z-index: 1100;
  }
  .mobile-nav {
    width: 100%;
  }

  .social-icons {
    flex-wrap: wrap;
    margin-top: auto;
  }
}

/* Styles for the hero section */

.hero {
  background-image: url('assets/images/Rectangle.png'); 
  background-size: cover;
  background-position: center;
  padding: 1.5rem 1.5rem;
  color: #262729;
  text-align: left;
}

.hero-content {
  max-width: 400px;
  margin: 0 auto;
}

.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.search-bar-img {
  width: 100%;
  max-width: 400px;
  display: block;
}

/* Styles for the Why Choose Us section */
.why-choose-us-section {
  background-color: #f7f7f7;
  padding: 3rem 1rem;
}

/* Header of the section */
.section-header {
  text-align: center;
  margin-bottom: 1rem;
}

.section-header h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #262729;
}

.section-header p {
  font-size: 1.25rem;
  font-weight: 400;
  color: #333333;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

/* Styles for the cards */
.why-card {
  padding: 1rem;
  text-align: center;
}

.why-card img {
  margin-bottom: 0.5rem;
}

.why-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #262729;
  font-family: 'Montserrat', sans-serif;
}

.why-card p {
  font-size: 1rem;
  font-weight: 400;
  color: #262729;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}